@import '../../styles/globals.scss';

.scrollBar{
    position: fixed;
    background: $primary-color;
    top: 0;
    left: 0;
    z-index: 9991;
    height: 5px;
    border-radius: 8px;
    @include only-desk;
}