@import '../../styles/globals.scss';

.contactTitle{
    text-shadow: 1px 1px 1px #acadad, 
    1px 2px 1px #acadad, 
    1px 3px 1px #acadad, 
    1px 4px 1px #acadad, 
    1px 5px 1px #acadad, 
    1px 6px 1px #acadad, 
    1px 7px 1px #acadad, 
    1px 8px 1px #acadad, 
    1px 9px 1px #acadad, 
    1px 10px 1px #acadad, 
    1px 18px 6px rgb(172, 173, 173), 
    1px 22px 10px rgb(172, 173, 173), 
    1px 25px 35px rgb(172, 173, 173), 
    1px 30px 60px rgb(172, 173, 173);
    color: $brown !important;
    text-align: center;
    margin-bottom: 2.5rem !important;
    display: block;
}

.contactForm{
    max-width: 900px;
    width: 100%;
    margin: 0 auto !important;

    .contactFormBody{
        box-shadow: 0 5px 7px 0 rgba(0,0,0,.27);
        width: 100%;
        background-color: $blue;
        padding-top: 20px;
        padding-bottom: 35px;

        .formLine,
        .formBlock{
            fieldset{
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                position: relative;

                @media screen and (min-width: 1025px) {
                    text-align: left;
                }

                label{
                    margin-bottom: 6px;
                    display: block;
                    width: auto;
                    text-align: left;
                }

                input[type="text"],
                input[type="tel"],
                input[type="email"],
                textarea{
                    padding: 5px;
                    border-radius: 5px;
                    border: none;
                    outline: 0;
                    outline-offset: unset;
                    line-height: 1.5;
                    font-size: 16px;
                    width: 100%;
                    max-width: -webkit-fill-available;
                    resize: none;
                    letter-spacing: 1px;

                    &::placeholder{
                        font-size: 16px;
                        letter-spacing: 1px;
                    }
                    
                    @media screen and (min-width: 1025px) {
                        font-size: 18px;
                    }
                }

                .errorField{
                    color: $error-color;
                    font-size: 14px;
                    position: absolute;
                    top: calc(100% + 5px);
                    display: block;
                    width: 100%;
                    text-align: left;
                }
            }
        }

        .formLine{
            display: grid;
            gap: 25px;
            grid-template-columns: 1fr;
            padding: 0 13px;

            @media screen and (min-width: 1366px) {
                grid-template-columns: repeat(3, 1fr);
                gap: 14px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .formBlock{
            margin-top: 30px;
            padding: 0 13px;

            @media screen and (min-width: 1366px) {
                padding-left: 20px;
                padding-right: 20px;
            }

            &>div{
                margin-bottom: 5px;
                display: flex;
                align-items: baseline;
                margin-left: auto;
                margin-right: auto;

                .charactersLeft{
                    color: $light-green;
                    margin-right: 10px;
        
                    &.limit{
                        color: $error-color;
                    }
                }
            }

            fieldset{
                width: 100%;

                @media screen and (min-width: 1025px) {
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 15px;
                }

                input[type="file"]{
                    color: $white;
                    font-size: 13px;
                    cursor: pointer;

                    @media screen and (min-width: 1025px) {
                        font-size: 16px;
                        width: 100%;
                    }
                }
            }
        }
    }

    .formBottom{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
        min-height: 78px;
        flex-direction: column;

        @media screen and (min-width: 1200px) {
            flex-direction: row;
        }

        .submitArea{
            text-align: center;
    
            button[type="submit"]{
                -webkit-box-shadow: 0px 3px 4px rgb(0 0 0 / 30%);
                box-shadow: 0px 3px 4px rgb(0 0 0 / 30%);
                border: none;
                -webkit-transition: all .3s;
                -o-transition: all .3s;
                transition: all .3s;
                font-weight: 600;
                color: $dark-blue;
                background-color: $light-green;
                padding: 13px 15px;
                line-height: normal;
                font-size: 17px;
    
                &:hover{
                    background-color: $primary-color;
                    color: $white;
                }

                .circularProgress{
                    color:$primary-color;
                }
            }
        }
        
        .captchaArea{
            display: flex;
            justify-content: center;
            margin-bottom: 35px;

            @media screen and (min-width: 1200px) {
                position: absolute;
                left: 0;
                margin-bottom: 0;
            }
        }
    }
}

:global(.body){
    .sectionContact{
        margin-bottom: 4rem;
    
        .visitarPerfis {
            margin: 0;
            color: #212121;
            padding-bottom: 0;
            -ms-grid-column: 1;
            grid-column: 1;
            -ms-grid-row: 1;
            grid-row: 1;
            z-index: 1;
            font-family: 'Teko', sans-serif;
            font-size: 26px;
            text-transform: uppercase;
            -webkit-animation: glow 2s ease-in-out infinite alternate;
                    animation: glow 2s ease-in-out infinite alternate;
            text-align: center; 
            font-weight: bold;
        }

        .socialItems{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10%;
            margin-top: 20px;

            @media screen and (min-width: 992px) {
                gap: 40px;
            }

            a{
                transition: all .3s;
                display: flex;

                &:hover{
                    transform: scale(1.2);
                }

                svg{
                    width: 37px;
                    height: auto;

                    @media screen and (min-width: 992px) {
                        width: 42px;
                    }

                    @media screen and (min-width: 1025px) {
                        width: 47px;
                    }
                }
            }
        }
    }

    .modalContainer{
        display: flex;
        height: fit-content;
        padding: 15px;
        max-width: 90%;
        margin: 0 auto;
        position: absolute;
        top: 15lvh;
        border-radius: 8px;
        outline: none;
        text-align: center;
        justify-content: center;

        &.success{
            background-color: $succes-color;
        }

        &.fail{
            background-color: $error-color;
        }

        @media screen and (min-width: 768px) {
            padding: 15px 25px;
        }

        @media screen and (min-width: 1025px) {
            padding: 18px 30px;
        }

        .modalText{
            margin: 0;
            color: white;
            font-weight: 700;
            letter-spacing: 1.2px;
            font-size: 15px;
            line-height: normal;

            @media screen and (min-width: 1025px) {
                font-size: 18px;
            }
        }
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 8px #4dbbc7; 
    }
    to {
        text-shadow: 0 0 28px #34b3c1, 0 0 5px #4dbbc7; 
    } 
}