@import '../../../../styles/globals.scss';

.slider{
    @include fullPageMobile;

    &::-webkit-scrollbar{
        display: none;
    }

    @media screen and (max-width: 1024px) {
        padding-left: 1rem !important;
    }

    :global(.swiper-slide){
        min-width: fit-content;

        .techIcon{
            transition: all .5s;
            display: flex;
            align-items: center;
            width: fit-content;
        
            &:hover{
                transform: rotate3d(0, 1, 0, 360deg);
                
                svg{
                    transform: scale(1.2);
                }
            }
        
            svg{
                width: auto;
                height: 54px;
                transition: all .5s;
        
                path{
                    fill: $primary-color;
                }
            }
        }
    }
}
