@import '../../../../styles/globals.scss';

:global(.body){
    .blockContent{
        margin-bottom: 20px;
    }
    
    .blockTitle{
        text-transform: uppercase;
        color: $gray;
        font-size: 19px;
        margin-bottom: 1rem;
        display: block;
    }
    
    .slider{
        @include fullPageMobile;
        margin-bottom: 20px;
    
        &::-webkit-scrollbar{
            display: none;
        }
    
        @media screen and (max-width: 1024px) {
            padding-left: 1rem !important;
        }
    
        :global(.swiper-slide){
            min-width: fit-content;
    
            .techIcon{
                transition: all .5s;
                display: flex;
                align-items: center;
                width: fit-content;
            
                &:hover{
                    transform: rotate3d(0, 1, 0, 360deg);
                }
            
                svg{
                    width: auto;
                    height: 54px;
                    transition: all .5s;
            
                    path{
                        fill: $primary-color;
                    }
                }
            }
        }
    }
    
    .block{
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        p,
        span{
            margin-bottom: 0;
            color: $gray;
        }

        figure{
            margin-right: 7px;

            svg path{
                fill: $primary-color;
            }
        }
    }
}