@import '../../styles/globals.scss';

.itemMenuSize{
    position: fixed;
    top: 140px;
    right: 20px;
    z-index: 1;
    background-color: transparent;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 80px;
    gap: 10px;

    @media screen and (min-width: 993px) {
        top: 180px;
        justify-content: center;
        gap: 20px;
    }

    .fontSize{
        background: #2f113e;
        color: #fff;
        border: 0;
        box-shadow: $shadow-color;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 5px;
        transition: transform .3s;

        &:hover{
            transform: scale(1.11);
        }
    }
}